@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;

    /* Shadcn Color Variables */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 47 95% 63%;
    --primary-foreground: 0 0% 0%;

    --secondary: 60 95% 63%;
    --secondary-foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 47 95% 63%;
    --primary-foreground: 0 0% 0%;

    --secondary: 60 95% 63%;
    --secondary-foreground: 0 0% 0%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 100%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Custom utilities and components */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-30-extrabold {
  font-size: 30px;
  font-weight: 800;
  color: theme("colors.white");
}

.text-30-bold {
  font-size: 30px;
  font-weight: 700;
  color: theme("colors.black");
}

.text-30-semibold {
  font-size: 30px;
  font-weight: 600;
  color: theme("colors.black");
}

.text-26-semibold {
  font-size: 26px;
  font-weight: 600;
  color: theme("colors.black");
}

.text-24-black {
  font-size: 24px;
  font-weight: 900;
  color: theme("colors.black");
}

.text-20-medium {
  font-size: 20px;
  font-weight: 500;
  color: theme("colors.black");
}

.text-16-medium {
  font-size: 16px;
  font-weight: 500;
  color: theme("colors.black");
}

.text-14-normal {
  font-size: 14px;
  font-weight: 400;
  color: hsl(var(--foreground) / 0.8);
}

.pink_container {
  width: 100%;
  background-color: hsl(var(--primary));
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    hsl(var(--primary) / 0.2) 49.5%,
    hsl(var(--primary) / 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.tag {
  background-color: hsl(var(--secondary));
  padding: 0.75rem 1.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  border-radius: 0.125rem;
  text-transform: uppercase;
  position: relative;
}

.tag.tag-tri::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-top: 10px solid theme("colors.black");
  border-right: 10px solid transparent;
}

.tag.tag-tri::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border-bottom: 10px solid theme("colors.black");
  border-left: 10px solid transparent;
}

.heading {
  text-transform: uppercase;
  background-color: theme("colors.black");
  padding: 0.75rem 1.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: theme("colors.white");
  font-size: 36px;
  line-height: 46px;
  max-width: 64rem;
  text-align: center;
  margin: 1.25rem 0;
}

@media (min-width: 640px) {
  .heading {
    font-size: 54px;
    line-height: 64px;
  }
}

.sub-heading {
  font-weight: 500;
  font-size: 20px;
  color: theme("colors.white");
  max-width: 42rem;
  text-align: center;
  overflow-wrap: break-word;
}

.section_container {
  padding: 2.5rem 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.card_grid {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card_grid-sm {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .card_grid-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-result {
  color: theme("colors.black");
  font-size: 0.875rem;
  font-weight: 400;
}

/* profile */
.profile_container {
  width: 100%;
  padding: 5rem 1.5rem 2.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .profile_container {
    flex-direction: row;
  }
}

.profile_card {
  width: 20rem;
  padding: 5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--primary));
  border: 5px solid theme("colors.black");
  box-shadow: 0.5rem 0.5rem 0 theme("colors.black");
  border-radius: 30px;
  position: relative;
  z-index: 0;
  height: fit-content;
}

@media (max-width: 1024px) {
  .profile_card {
    width: 100%;
  }
}

.profile_title {
  width: 91.666667%;
  background-color: theme("colors.white");
  border: 5px solid theme("colors.black");
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  position: absolute;
  top: -2.25rem;
  box-shadow: 0.5rem 0.5rem 0 theme("colors.black");
}

.profile_title::after {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0;
  transform: skewY(-6deg);
  background-color: theme("colors.black");
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 60px;
}

.profile_title::before {
  position: absolute;
  content: "";
  bottom: -0.25rem;
  left: 0;
  transform: skewY(-6deg);
  width: 100%;
  height: 60px;
  background-color: theme("colors.black");
  z-index: -1;
  border-radius: 20px;
}

.profile_image {
  border-radius: 9999px;
  object-fit: cover;
  border: 3px solid theme("colors.black");
}

/* idea details */
.divider {
  border-style: dotted;
  background-color: theme("colors.zinc.400");
  max-width: 56rem;
  margin: 2.5rem auto;
}

.view_skeleton {
  background-color: theme("colors.zinc.400");
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

/* navbar */
.avatar {
  padding: 0 !important;
}

.avatar:focus-visible {
  ring: 0 !important;
}

.avatar {
  background: none !important;
  border-radius: 9999px !important;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)) !important;
}

.dropdown-menu {
  width: 14rem !important;
  border: 5px solid theme("colors.black") !important;
  background-color: theme("colors.white") !important;
  padding: 1.25rem !important;
  border-radius: 1rem !important;
}

.login {
  border: 5px solid theme("colors.black") !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: theme("colors.white") !important;
  color: theme("colors.black") !important;
  position: relative !important;
  box-shadow: 0.5rem 0.5rem 0 theme("colors.black") !important;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 500 !important;
}

.login:hover {
  box-shadow: none !important;
  transition-property: all !important;
  transition-duration: 500ms !important;
}

/* searchform */
.search-form {
  max-width: 48rem;
  width: 100%;
  min-height: 80px;
  background-color: theme("colors.white");
  border: 5px solid theme("colors.black");
  border-radius: 80px;
  font-size: 24px;
  margin-top: 2rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.search-input {
  flex: 1;
  font-weight: 700;
  width: 100%;
  height: auto;
  outline: none;
}

.search-input::placeholder {
  font-weight: 600;
  color: theme("colors.black");
}

.search-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 9999px !important;
  background-color: theme("colors.black") !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* startupcard */
.startup-card {
  background-color: theme("colors.white");
  border: 5px solid theme("colors.black");
  padding: 1.5rem 1.25rem;
  border-radius: 22px;
  box-shadow: 0.5rem 0.5rem 0 theme("colors.gray.300");
}

.startup-card:hover {
  border-color: hsl(var(--primary));
  transition-property: all;
  transition-duration: 500ms;
  box-shadow: 0.5rem 0.5rem 0 hsl(var(--primary));
  background-color: hsl(var(--primary) / 0.1);
}

.startup-card_date {
  font-weight: 500;
  font-size: 16px;
  background-color: hsl(var(--primary) / 0.1);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.group:hover .startup-card_date {
  background-color: theme("colors.white");
}

.startup-card_desc {
  font-weight: 400;
  font-size: 16px;
  line-clamp: 2;
  margin: 0.75rem 0;
  color: theme("colors.black");
  word-break: break-all;
}

.startup-card_img {
  width: 100%;
  height: 164px;
  border-radius: 10px;
  object-fit: cover;
}

.startup-card_btn {
  border-radius: 9999px !important;
  background-color: theme("colors.gray.800") !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: theme("colors.white") !important;
  padding: 0.75rem 1.25rem !important;
}

.startup-card_skeleton {
  width: 100%;
  height: 24rem;
  border-radius: 22px;
  background-color: theme("colors.zinc.400");
}

/* startupform */
.startup-form {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  background-color: theme("colors.white");
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem;
}

.startup-form_label {
  font-weight: 700;
  font-size: 18px;
  color: theme("colors.black");
  text-transform: uppercase;
}

.startup-form_input {
  border: 3px solid theme("colors.black") !important;
  padding: 1.75rem 1.25rem !important;
  font-size: 18px !important;
  color: theme("colors.black") !important;
  font-weight: 600 !important;
  border-radius: 9999px !important;
  margin-top: 0.75rem !important;
}

.startup-form_input::placeholder {
  color: theme("colors.gray.500") !important;
}

.startup-form_textarea {
  border: 3px solid theme("colors.black") !important;
  padding: 1.25rem !important;
  font-size: 18px !important;
  color: theme("colors.black") !important;
  font-weight: 600 !important;
  border-radius: 20px !important;
  margin-top: 0.75rem !important;
}

.startup-form_textarea::placeholder {
  color: theme("colors.gray.500") !important;
}

.startup-form_error {
  color: theme("colors.red.500");
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}

.startup-form_editor {
  margin-top: 0.75rem !important;
  border: 3px solid theme("colors.black") !important;
  font-size: 18px !important;
  color: theme("colors.black") !important;
  font-weight: 600 !important;
}

.startup-form_editor::placeholder {
  color: theme("colors.gray.500") !important;
}

.startup-form_btn {
  background-color: hsl(var(--primary)) !important;
  border: 4px solid theme("colors.black") !important;
  border-radius: 9999px !important;
  padding: 1.25rem !important;
  min-height: 70px !important;
  width: 100% !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

/* view */
.view-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.25rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

.view-text {
  font-weight: 500;
  font-size: 16px;
  background-color: hsl(var(--primary) / 0.1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.category-tag {
  font-weight: 500;
  font-size: 16px;
  background-color: hsl(var(--primary) / 0.1);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    hsl(var(--primary) / 0.2) 49.5%,
    hsl(var(--primary) / 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.w-md-editor-toolbar {
  padding: 10px !important;
}
